<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Archetype Created Web Application</display-name>

	<!-- log4j2-begin -->
	<!-- log4j -->
	<!-- <context-param> <param-name>isLog4jAutoInitializationDisabled</param-name> 
		<param-value>false</param-value> </context-param> 默认就会找这个文件，不需要额外配置引用 <context-param> 
		<param-name>log4jConfiguration</param-name> <param-value>classpath:/log4j2.xml</param-value> 
		</context-param> <listener> <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class> 
		</listener> -->
	<!-- <filter> <filter-name>log4jServletFilter</filter-name> <filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>log4jServletFilter</filter-name> 
		<url-pattern>/*</url-pattern> <dispatcher>REQUEST</dispatcher> <dispatcher>FORWARD</dispatcher> 
		<dispatcher>INCLUDE</dispatcher> <dispatcher>ERROR</dispatcher> </filter-mapping> -->
	<!-- log4j2-end -->


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/spring-*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 定义DispatcherServlet -->
	<servlet>
		<servlet-name>dsw-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<!-- 默认/WEB-INF/[servlet名字]-servlet.xml加载上下文， 如果配置了contextConfigLocation参数， 
				将使用classpath:/lei-dispatcher-servlet.xml加载上下文 -->
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/dsw-dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 拦截匹配的请求，这里所有请求采用名字为lei-dispatcher的DispatcherServlet处理 -->
	<servlet-mapping>
		<servlet-name>dsw-dispatcher</servlet-name>
		<!-- 如果写成/*,当访问*.jsp时，会交给controller,找不到时会返回jsp的源码 ，当写成/时,不会匹配*.jsp -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>